<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <div class="container">
        <h2 style="color: blue;">Welcome to company X!! We are the Bank</h2>
        <br><br>
        <row>
          <col md="3">
            <h3 style="color: red;"> Actions: </h3>
          </col>
        </row>
        <row>
          <br>
          <col md="3">
            <h5>Add Customer and Bank details</h5>
            <form action="/addCustomer">
                <button type= "submit" class="btn btn-success">
                  Add customer/ Bank Details
                </button>
            </form>
          </col>
          <br><br>
        </row>
      </div>
</html>
  